# Used car analysis

We'll work with a dataset of used car ads scraped from eBay. This dataset was supplied by Dataquest.

In [1]:
import pandas as pd
import numpy as np
import re

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Pro observation: **we got some columns**

In [12]:
autos_columns = autos.columns
autos_columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [13]:
autos.rename({
    'yearOfRegistration':'registration_year',
    'monthOfRegistration':'registration_month',
    'notRepairedDamage':'unrepaired_damage',
    'dateCreated':'ad_created',
    'dateCrawled': 'date_crawled',
    'offerType': 'offer_type',
    'vehicleType': 'vehicle_type',
    'powerPS': 'power_ps',
    'fuelType': 'fuel_type',
    'nrOfPictures': 'num_of_pictures',
    'postalCode': 'postal_code',
    'lastSeen': 'last_seen',
}, inplace=True, axis='columns')

In [14]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

### Renamed all of the columns to snakecase to make them easier to navigate and also to suit column name best practices

In [16]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-23 19:38:20,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

###Â num_of_pictures seems to be zero for all of its columns. postal_code is stored as a number even though it should be recognised as a string. registration_year seems to have a range from 1000 to 9999. I don't know anybody in the year 9999.... yet

### price should be stored as a number but it's stored as a string. odometer is also stored as a string. seller and offer_type have almost all of its values as the same

In [197]:
autos['price'].value_counts().head(10)

500     779
1500    733
2500    642
1000    639
1200    638
600     531
800     498
3500    498
2000    460
999     434
Name: price, dtype: int64

In [21]:
autos['price'] = autos['price'].str.replace("$", "").str.replace(",", "").astype(int)

In [22]:
autos['odometer'].value_counts()

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

In [24]:
autos['odometer'] = autos['odometer'].str.replace(",", "").str.replace("km", "").astype(int)

In [29]:
autos.rename({'odometer': 'odometer_km'}, inplace=True, axis='columns')

In [30]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

###Â Let's take a closer look at the odometer_km column

In [33]:
autos['odometer_km'].unique().shape

(13,)

In [34]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [37]:
autos['odometer_km'].value_counts(ascending=False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

### Doesn't seem to be too many outliers. Let's explore the price column

In [38]:
autos['price'].unique().shape

(2357,)

In [198]:
autos['price'].describe()

count     48496.000000
mean       5877.260558
std        9025.726431
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7450.000000
max      350000.000000
Name: price, dtype: float64

### Use format(x, 'f') in order to suppress scientific notation

In [44]:
autos['price'].describe().apply(lambda x: format(x, 'f'))

count       50000.000000
mean         9840.043760
std        481104.380500
min             0.000000
25%          1100.000000
50%          2950.000000
75%          7200.000000
max      99999999.000000
Name: price, dtype: object

### It seems like there's a LOAD of outliers sitting at the top of the price column

In [55]:
autos['price'].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [62]:
autos['price'].value_counts().sort_index(ascending=False).tail(20)

35       1
30       7
29       1
25       5
20       4
18       1
17       3
15       2
14       1
13       2
12       3
11       2
10       7
9        1
8        1
5        2
3        1
2        3
1      156
0     1421
Name: price, dtype: int64

### there are a ton of really REALLY cheap cars. These should be considered outliers and stripped

Let's remove cars sold for free and anything over 350k. Really, I should be stripping a lot more out of the bottom

In [65]:
autos = autos[autos['price'].between(1,350000)]

In [64]:
autos.shape

(48565, 20)

### We're left with 48.5k cars

In [95]:
autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05    0.025327
2016-03-06    0.014043
2016-03-07    0.036014
2016-03-08    0.033296
2016-03-09    0.033090
2016-03-10    0.032184
2016-03-11    0.032575
2016-03-12    0.036920
2016-03-13    0.015670
2016-03-14    0.036549
2016-03-15    0.034284
2016-03-16    0.029610
2016-03-17    0.031628
2016-03-18    0.012911
2016-03-19    0.034778
2016-03-20    0.037887
2016-03-21    0.037373
2016-03-22    0.032987
2016-03-23    0.032225
2016-03-24    0.029342
2016-03-25    0.031607
2016-03-26    0.032204
2016-03-27    0.031092
2016-03-28    0.034860
2016-03-29    0.034099
2016-03-30    0.033687
2016-03-31    0.031834
2016-04-01    0.033687
2016-04-02    0.035478
2016-04-03    0.038608
2016-04-04    0.036487
2016-04-05    0.013096
2016-04-06    0.003171
2016-04-07    0.001400
Name: date_crawled, dtype: float64

In [75]:
autos['date_crawled'].isnull().value_counts(normalize=True, dropna=False)

False    1.0
Name: date_crawled, dtype: float64

### No null values. Pages were crawled between 5th March and 7th April

In [76]:
autos['date_crawled'].describe()

count                   48565
unique                  46882
top       2016-03-19 17:36:18
freq                        3
Name: date_crawled, dtype: object

In [77]:
autos['ad_created'].describe()

count                   48565
unique                     76
top       2016-04-03 00:00:00
freq                     1887
Name: ad_created, dtype: object

In [94]:
autos['ad_created'].str[:10].value_counts(dropna=False).sort_index(ascending=False).tail(20)

2016-02-08    1
2016-02-07    1
2016-02-05    2
2016-02-02    2
2016-02-01    1
2016-01-29    1
2016-01-27    3
2016-01-22    1
2016-01-16    1
2016-01-14    1
2016-01-13    1
2016-01-10    2
2016-01-07    1
2016-01-03    1
2015-12-30    1
2015-12-05    1
2015-11-10    1
2015-09-09    1
2015-08-10    1
2015-06-11    1
Name: ad_created, dtype: int64

In [199]:
autos['ad_created'].str[:10].value_counts(dropna=False).head(20)

2016-04-03    1886
2016-03-20    1838
2016-03-21    1824
2016-04-04    1788
2016-03-12    1781
2016-03-14    1708
2016-04-02    1705
2016-03-28    1693
2016-03-07    1686
2016-03-15    1649
2016-03-29    1648
2016-04-01    1633
2016-03-19    1632
2016-03-30    1626
2016-03-08    1617
2016-03-09    1607
2016-03-11    1594
2016-03-22    1592
2016-03-26    1565
2016-03-23    1555
Name: ad_created, dtype: int64

###Â Majority of ads were created between March and April.

In [89]:
autos['last_seen'].str[:10].describe(include='all')

count          48565
unique            34
top       2016-04-06
freq           10772
Name: last_seen, dtype: object

In [91]:
autos['last_seen'].str[:10].value_counts(dropna=False).tail(10)

2016-03-14    612
2016-03-11    601
2016-03-10    518
2016-03-09    466
2016-03-13    432
2016-03-08    360
2016-03-18    357
2016-03-07    262
2016-03-06    210
2016-03-05     52
Name: last_seen, dtype: int64

In [92]:
autos['last_seen'].str[:10].value_counts(dropna=False).head(10)

2016-04-06    10772
2016-04-07     6408
2016-04-05     6059
2016-03-17     1364
2016-04-03     1224
2016-04-02     1210
2016-03-30     1203
2016-04-04     1189
2016-03-31     1155
2016-03-12     1155
Name: last_seen, dtype: int64

### Majority of ads last seen in April and March

In [96]:
autos['registration_year'].describe(include='all')

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

### Apparently some were registered in the year 1000 and 9999.... Let's strip out those mothafuckas

In [99]:
autos['registration_year'].value_counts().sort_index(ascending=False).head(20)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       2
2018     470
2017    1392
2016    1220
2015     392
2014     663
2013     803
2012    1310
2011    1623
2010    1589
Name: registration_year, dtype: int64

Can strip out everything after 2018. There's only a couple from 2019

In [102]:
autos['registration_year'].value_counts().sort_index(ascending=False).tail(70)

2004    2703
2003    2699
2002    2486
2001    2636
2000    3156
1999    2897
1998    2363
1997    1951
1996    1373
1995    1227
1994     629
1993     425
1992     370
1991     339
1990     347
1989     174
1988     135
1987      72
1986      72
1985      95
1984      51
1983      51
1982      41
1981      28
1980      85
1979      34
1978      44
1977      22
1976      21
1975      18
        ...
1964      12
1963       8
1962       4
1961       6
1960      23
1959       6
1958       4
1957       2
1956       4
1955       2
1954       2
1953       1
1952       1
1951       2
1950       3
1948       1
1943       1
1941       2
1939       1
1938       1
1937       4
1934       2
1931       1
1929       1
1927       1
1910       5
1800       2
1111       1
1001       1
1000       1
Name: registration_year, Length: 70, dtype: int64

### Need to work on outlier recognition. I'm not sure how to use box plots yet so let's just strip out everything before 1960

In [103]:
autos = autos[autos['registration_year'].between(1960,2018)]

In [104]:
autos.shape

(48496, 20)

In [106]:
autos['registration_year'].describe(include='all')

count    48496.000000
mean      2003.517795
std          7.329811
min       1960.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       2018.000000
Name: registration_year, dtype: float64

In [108]:
autos['registration_year'].value_counts().sort_index()

1960      23
1961       6
1962       4
1963       8
1964      12
1965      17
1966      22
1967      26
1968      26
1969      19
1970      38
1971      26
1972      33
1973      23
1974      24
1975      18
1976      21
1977      22
1978      44
1979      34
1980      85
1981      28
1982      41
1983      51
1984      51
1985      95
1986      72
1987      72
1988     135
1989     174
1990     347
1991     339
1992     370
1993     425
1994     629
1995    1227
1996    1373
1997    1951
1998    2363
1999    2897
2000    3156
2001    2636
2002    2486
2003    2699
2004    2703
2005    2936
2006    2670
2007    2277
2008    2215
2009    2085
2010    1589
2011    1623
2012    1310
2013     803
2014     663
2015     392
2016    1220
2017    1392
2018     470
Name: registration_year, dtype: int64

### All of the years remaining in the dataset are believable. The majority of the cars are in the 90s-2010s

In [111]:
top_brands = autos['brand'].value_counts().head(20).index

In [112]:
top_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota', 'hyundai', 'sonstige_autos', 'volvo', 'mini'],
      dtype='object')

In [113]:
autos['brand'].describe(include='all')

count          48496
unique            40
top       volkswagen
freq           10329
Name: brand, dtype: object

### Brand contains the brand of car in the dataset. I've decided to explore the data for the top 20 listed in the dataset and find the mean price for those brands

In [141]:
brand_mean_price = {}
for brand in top_brands:
    brand_mean_price[brand] = autos[autos['brand'] == brand]['price'].mean()

In [142]:
# .items() returns a tuple of dictionary values. By using the lambda function one can sort the items by value

sorted(brand_mean_price.items(), key=lambda x: x[1], reverse=True)

[('sonstige_autos', 12228.629711751662),
 ('mini', 10541.566985645934),
 ('audi', 9212.9306621881),
 ('mercedes_benz', 8465.090047393365),
 ('bmw', 8260.768253366205),
 ('skoda', 6360.545571245186),
 ('hyundai', 5371.792960662526),
 ('volkswagen', 5329.804434117533),
 ('toyota', 5148.0032733224225),
 ('volvo', 4866.993166287016),
 ('nissan', 4669.3859649122805),
 ('seat', 4324.8725490196075),
 ('mazda', 4059.059539918809),
 ('citroen', 3739.6359649122805),
 ('ford', 3693.2141587677725),
 ('smart', 3518.102305475504),
 ('peugeot', 3065.611888111888),
 ('opel', 2940.9134724857686),
 ('fiat', 2793.8700475435817),
 ('renault', 2431.9840791738384)]

### Sonstige_autos are mad expensive, fam. Renault comes in at the cheapest

In [140]:
autos[autos['brand']=='sonstige_autos']['price'].value_counts().sort_index(ascending=False).head(10)

345000    1
194000    1
114400    1
109999    1
105000    1
80000     1
79999     1
79500     1
72600     1
62000     1
Name: price, dtype: int64

### The 345000 car could be considered an outlier which is why the sonstige_autos cost is coming out on top

In [143]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [145]:
autos['odometer_km'].value_counts()

150000    31407
125000     5056
100000     2109
90000      1731
80000      1414
70000      1213
60000      1152
50000      1011
40000       812
5000        810
30000       780
20000       758
10000       243
Name: odometer_km, dtype: int64

In [149]:
brand_mean_mileage = {}
for brand in top_brands:
    brand_mean_mileage[brand] = autos[autos['brand'] == brand]['odometer_km'].mean()

In [150]:
brand_mean_mileage

{'volkswagen': 128956.33652822151,
 'bmw': 132707.1875592642,
 'opel': 129482.92220113851,
 'mercedes_benz': 130975.87246876347,
 'audi': 129492.56238003839,
 'ford': 124478.67298578199,
 'renault': 128115.31841652324,
 'peugeot': 127356.64335664336,
 'fiat': 117567.35340729002,
 'seat': 121895.4248366013,
 'skoda': 111020.53915275994,
 'nissan': 118711.20107962213,
 'mazda': 124871.44790257105,
 'smart': 100511.52737752162,
 'citroen': 120190.05847953216,
 'toyota': 116219.31260229132,
 'hyundai': 106718.4265010352,
 'sonstige_autos': 92117.51662971175,
 'volvo': 138337.1298405467,
 'mini': 88899.52153110047}

In [152]:
brand_mileage = pd.Series(brand_mean_mileage)
brand_mileage

volkswagen        128956.336528
bmw               132707.187559
opel              129482.922201
mercedes_benz     130975.872469
audi              129492.562380
ford              124478.672986
renault           128115.318417
peugeot           127356.643357
fiat              117567.353407
seat              121895.424837
skoda             111020.539153
nissan            118711.201080
mazda             124871.447903
smart             100511.527378
citroen           120190.058480
toyota            116219.312602
hyundai           106718.426501
sonstige_autos     92117.516630
volvo             138337.129841
mini               88899.521531
dtype: float64

In [156]:
df = pd.DataFrame(brand_mileage, columns=['mean_mileage'])
brand_price = pd.Series(brand_mean_price)

In [157]:
df

                 mean_mileage
volkswagen      128956.336528
bmw             132707.187559
opel            129482.922201
mercedes_benz   130975.872469
audi            129492.562380
ford            124478.672986
renault         128115.318417
peugeot         127356.643357
fiat            117567.353407
seat            121895.424837
skoda           111020.539153
nissan          118711.201080
mazda           124871.447903
smart           100511.527378
citroen         120190.058480
toyota          116219.312602
hyundai         106718.426501
sonstige_autos   92117.516630
volvo           138337.129841
mini             88899.521531

In [160]:
df['mean_price'] = brand_price
brand_price

volkswagen         5329.804434
bmw                8260.768253
opel               2940.913472
mercedes_benz      8465.090047
audi               9212.930662
ford               3693.214159
renault            2431.984079
peugeot            3065.611888
fiat               2793.870048
seat               4324.872549
skoda              6360.545571
nissan             4669.385965
mazda              4059.059540
smart              3518.102305
citroen            3739.635965
toyota             5148.003273
hyundai            5371.792961
sonstige_autos    12228.629712
volvo              4866.993166
mini              10541.566986
dtype: float64

In [159]:
df

                 mean_mileage    mean_price
volkswagen      128956.336528   5329.804434
bmw             132707.187559   8260.768253
opel            129482.922201   2940.913472
mercedes_benz   130975.872469   8465.090047
audi            129492.562380   9212.930662
ford            124478.672986   3693.214159
renault         128115.318417   2431.984079
peugeot         127356.643357   3065.611888
fiat            117567.353407   2793.870048
seat            121895.424837   4324.872549
skoda           111020.539153   6360.545571
nissan          118711.201080   4669.385965
mazda           124871.447903   4059.059540
smart           100511.527378   3518.102305
citroen         120190.058480   3739.635965
toyota          116219.312602   5148.003273
hyundai         106718.426501   5371.792961
sonstige_autos   92117.516630  12228.629712
volvo           138337.129841   4866.993166
mini             88899.521531  10541.566986

In [161]:
df['mileage_to_price'] = df['mean_mileage'] / df['mean_price']

In [162]:
df

                 mean_mileage    mean_price  mileage_to_price
volkswagen      128956.336528   5329.804434         24.195322
bmw             132707.187559   8260.768253         16.064751
opel            129482.922201   2940.913472         44.028131
mercedes_benz   130975.872469   8465.090047         15.472472
audi            129492.562380   9212.930662         14.055523
ford            124478.672986   3693.214159         33.704699
renault         128115.318417   2431.984079         52.679341
peugeot         127356.643357   3065.611888         41.543629
fiat            117567.353407   2793.870048         42.080466
seat            121895.424837   4324.872549         28.184744
skoda           111020.539153   6360.545571         17.454562
nissan          118711.201080   4669.385965         25.423300
mazda           124871.447903   4059.059540         30.763640
smart           100511.527378   3518.102305         28.569814
citroen         120190.058480   3739.635965         32.139508
toyota          116219.312602   5148.003273         22.575610
hyundai         106718.426501   5371.792961         19.866444
sonstige_autos   92117.516630  12228.629712          7.532939
volvo           138337.129841   4866.993166         28.423531
mini             88899.521531  10541.566986          8.433236

In [164]:
df.sort_values(by='mileage_to_price', ascending=False)

                 mean_mileage    mean_price  mileage_to_price
renault         128115.318417   2431.984079         52.679341
opel            129482.922201   2940.913472         44.028131
fiat            117567.353407   2793.870048         42.080466
peugeot         127356.643357   3065.611888         41.543629
ford            124478.672986   3693.214159         33.704699
citroen         120190.058480   3739.635965         32.139508
mazda           124871.447903   4059.059540         30.763640
smart           100511.527378   3518.102305         28.569814
volvo           138337.129841   4866.993166         28.423531
seat            121895.424837   4324.872549         28.184744
nissan          118711.201080   4669.385965         25.423300
volkswagen      128956.336528   5329.804434         24.195322
toyota          116219.312602   5148.003273         22.575610
hyundai         106718.426501   5371.792961         19.866444
skoda           111020.539153   6360.545571         17.454562
bmw             132707.187559   8260.768253         16.064751
mercedes_benz   130975.872469   8465.090047         15.472472
audi            129492.562380   9212.930662         14.055523
mini             88899.521531  10541.566986          8.433236
sonstige_autos   92117.516630  12228.629712          7.532939

###Â Renault has the best price:mileage

In [166]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [196]:
autos.groupby(['brand', 'model']) \
    .size() \
    .reset_index() \
    .rename({0: 'count'}, axis='columns') \
    .sort_values('count', ascending=False) \
    .head(10)

             brand     model  count
268     volkswagen      golf   3898
23             bmw       3er   2686
274     volkswagen      polo   1688
183           opel     corsa   1679
180           opel     astra   1410
272     volkswagen    passat   1383
13            audi        a4   1256
142  mercedes_benz  c_klasse   1161
24             bmw       5er   1150
145  mercedes_benz  e_klasse    977

### Volkswagen Golf is the most common combination, closely followed by VW Polo